body {
	overflow-x: hidden;
}
img {
	border: 0;
}
#layer_popup {
	position: absolute;
	background-color: #000000;
	opacity: 0.6;
	filter:alpha(opacity=60);  
	-moz-opacity:0.6;  
	z-index: 99999;
	display: none;
	cursor: pointer;
}

#layer_popup_content {
	position: absolute;
	background-color: transparent;
	z-index: 199999;
	display: none;
}

#view-content img {
	cursor: pointer;
}