#view-menu {
	white-space: nowrap;
	height: 25px;
}
#view-menu > a {
	font-size: 9pt;
	background-color: #6d899e;
	border: 1px solid #465a69;
	padding: 5px 10px 4px 10px;
	color: #ffffff;
	cursor: pointer;
	font-family: dotum;
	text-decoration: none;
}

#view-menu > a:hover {
	background-color: #465a69;
}