#ip-sec-level-skin {
	padding: 10px;
	position: relative;
	height: 200px;
}
#ip-sec-level-skin > #title{
	text-shadow: 1px 1px 1px #1c1d52;
	font-size: 13pt;
	font-weight: bold;
	font-family: '맑은 고딕', AppleGothic;
	text-align: center;
	color: #3f4172;
	border-bottom: 1px solid #666666;
	margin-bottom: 10px;
	padding-bottom: 5px;
}

#ip-sec-level-skin > #ip-sec-level-form #sub-title {
	text-align: center;
	margin: 10px 0 5px 0;
	font-family: '맑은 고딕', AppleGothic;
	font-size: 11pt;
	color: #666666;
	font-style: italic;
	font-weight: bold;
}

#ip-sec-level-skin > #ip-sec-level-form > #level-select {
	border: 1px solid #898989;
	border-radius: 3px;
	padding: 10px;
}

#ip-sec-level-skin #button-group {
	position: absolute;
	bottom: 10px;
	right: 10px;
}

#ip-sec-level-skin #button-group #close, #ip-sec-level-skin #button-group input[type='submit'] {
	display:inline-block;
	background-color: #6d899e;
	border: 1px solid #465a69;
	padding: 5px 10px;
	color: #ffffff;
	cursor: pointer;
	font-family: dotum;
}

#ip-sec-level-skin #button-group #close:hover, #ip-sec-level-skin #button-group input[type='submit']:hover {
	background-color: #465a69;
}