#find-username-password {
	border: 1px solid #666666;
	padding: 20px;
	text-align: center;
	font-family: '맑은 고딕', AppleGothic;
	position: relative;
	margin-left: 5px;
}

#find-username-password > #title {
	background-color: #496380;
	color: #ffffff;
	display: inline-block;
	padding: 3px 10px;
	position: absolute;
	top: -10px;
	left: -5px;
}

#find-username-password .sub-title {
	color: #ffffff;
	background-color: #465373;
	display: inline-block;
	width: 80px;
	padding: 4px 10px;
	margin-bottom: 3px;
}

#find-username-password #submit-button {
	margin-top: 10px;
}

#find-username-password input[type='submit'] {
	display:inline-block;
	background-color: #6d899e;
	border: 1px solid #465a69;
	padding: 4px 100px;
	color: #ffffff;
	cursor: pointer;
	font-family: dotum;
}

#find-username-password input[type='submit']:hover {
	background-color: #465a69;
}

