#search-form-skin-default {
	border: 1px solid #d5d5d5;
	padding: 10px;
	border-radius: 3px;
	margin: 10px 10px 10px 0;
	position: relative;
}

#search-form-skin-default > #title {
	background-color: #496380;
	color: #ffffff;
	display: inline-block;
	padding: 3px 10px;
	position: absolute;
	top: -10px;
	left: -5px;
}

#search-form-skin-default #keyword-search {
	margin-top: 5px;
}

#search-form-skin-default input[type='submit'] {
	display:inline-block;
	background-color: #6d899e;
	border: 1px solid #465a69;
	padding: 5px 30px;
	color: #ffffff;
	cursor: pointer;
	font-family: dotum;
	position: relative;
	top: -1px;
}

@-moz-document url-prefix() {  /* 파이어폭스 */
	#search-form-skin-default input[type='submit'] {
		top: 0;
	}
}

#search-form-skin-default input[type='submit']:hover {
	background-color: #465a69;
}

#search-form-skin-default input[type='text'], #search-form-skin-default select {
	padding: 5px 10px;
	border: 1px solid #666666;
	border-radius: 3px;
}

#search-form-skin-default input[name='key'] {
	width: 74%;
}