#search-list-skin {
	padding-right: 10px;
}
#search-list-skin > .row {
	padding: 7px 5px;
}
#search-list-skin > .row a {
	text-decoration: none;
	color: #666666;
}

#search-list-skin > .row .photo {
	border: 1px solid #d5d5d5;
	height: 76px;
	width: 106px;
	padding: 3px;
	border-radius: 2px;
	margin-right: 10px;
}
#search-list-skin > .row .photo img {
	width: 100%;
	height: 100%;
	border-radius: 2px;
}
#search-list-skin > .row {
	border-bottom: 1px solid #d5d5d5;
}

#search-list-skin > .row .container .subject{
	word-break: break-all;
	height: 22px;
	line-height: 22px;
	overflow: hidden;
	font-size: 9pt;
	color: #374e71;
}

#search-list-skin > .row .container .subject a {
	color: #58462c;
	font-weight: bold;
}
#search-list-skin > .row .container .content {
	word-break: break-all;
	height: 44px;
	line-height: 22px;
	overflow: hidden;
}
#search-list-skin > .row .user-info {
	text-align: right;
	color: #434343;
}

#search-list-skin > .row .user-info b {
	margin-right: 5px;
}

#search-list-skin > .row .user-info .username {
	margin-right: 10px;
}

#search-list-skin > .row .search-keyword {
	display: inline-block;
	background-color: #cbd8dc;
	border: 1px solid #568695;
	font-weight: bold;
	padding: 1px;
	margin: 1px;
	color: #1f3e48;
	border-radius: 2px;
	line-height: 16px;
}

#search-list-skin > #no_of_post {
	border: 1px solid #d5d5d5;
	padding: 10px;
	border-radius: 3px;
	color: #444444;
}

#search-list-skin > #no_of_post b {
	color: #7c6743;
}