#view-post-subject-skin {
	font-family: '맑은 고딕', AppleGothic;
	font-size: 12pt;
	font-weight: bold;
	border: 1px solid #666666;
	padding: 10px;
	margin-bottom: 10px;
}

#view-post-subject-skin a {
	text-decoration: none;
	color: #4b5b6c;
}