.comment-reply-write-form {
	font-size: 9pt;
	font-family: dotum;
}
.comment-reply-write-form input[type='submit'], .comment-reply-write-form input[type='reset'] {
	cursor: pointer;
	display:inline-block;
	background-color: #6d899e;
	border: 1px solid #465a69;
	padding: 4px 7px;
	color: #ffffff;
	float: right;
}

.comment-reply-write-form input[type='submit']:hover, .comment-reply-write-form input[type='reset']:hover {
	background-color: #465a69 !important;
}