#message-list-skin {
	padding: 10px;
	font-size: 9pt;
	font-family: dotum;
}

#message-list-skin a {
	text-decoration: none;
	color: #313131;
	font-size: 9pt;
}

#message-list-skin a:hover {
	text-decoration: underline;
}

#message-list-skin #left{
	border-right: 1px solid #b4b4b4;
	margin-right: 10px;
	padding-right: 10px;
	height: 550px;
}

#message-list-skin #left #left-top-menu {
	list-style: none;
	padding: 0;
	margin: 0;
}
#message-list-skin #left #left-top-menu li {
	float: left;
	display: block;
	background-color: #6d899e;
	border: 1px solid #465a69;
}

#message-list-skin #left #left-top-menu li a {
	display: inline-block;
	text-decoration: none;
	color: #ffffff;
	height: 34px;
	line-height: 34px;
	padding: 0 10px;
}

#message-list-skin #left #write-form-button {
	border-right: none !important;
}

#message-list-skin #left #left-middle-menu {
	list-style: none;
	padding: 0;
	margin: 0;
}
#message-list-skin #left #left-middle-menu li {
	border: 1px solid #e5e5e5;
	border-left: 0;
	border-right: 0;
	float: left;
	display: block;
	margin-top: 5px;
	padding: 5px 0;
}
#message-list-skin #left #left-middle-menu li a {
	text-decoration: none;
	color : #333333;
	display: inline-block;
	margin-right: 5px;
}

#message-list-skin #left #left-bottom-menu {
	list-style: none;
	padding: 0;
	margin: 0;
}

#message-list-skin #left #left-bottom-menu li {
	display: block;
}

#message-list-skin #left #left-bottom-menu li a {
	display: inline-block;
	width: 80%;
	padding: 5px 10%;
	text-decoration: none;
	color: #333333;
}

#message-list-skin #left #left-bottom-menu li a:hover {
	background-color: #e5e5e5;
}

#message-list-skin #left #left-bottom-menu li a img {
	position: relative;
	top: 3px; 
	left: -5px;
}

#message-list-skin table tr td {
	padding: 5px 0;
}

#message-list-skin #table-header td {
	border-top: 1px solid #e4e5e7;
	background-color: #f9f9f9;
	border-bottom: 1px solid #e4e5e7;
	color: #666666;
}

#message-list-skin .row:last-child td {
	border-bottom: 1px solid #e4e5e7;
}

#message-list-skin .row td a {
	text-decoration: none;
	color: #0459c1;
}

#message-list-skin .row td .selected {
	color: #333333;
}

#message-list-skin .row td .star {
	cursor: pointer;
}

#no_of_unreaded  {
	font-weight: bold;
	color: #0ba506;
}

#control-pannel span {
	border: 1px solid #b4b4b4;
	border-radius: 3px;
	display: inline-block;
	padding: 5px 7px;
	cursor: pointer;
	color: #333333;
}

#control-pannel span:hover {
	background-color: #b4b4b4;
	color: #ffffff;
}